<div class="callout-header row medium-unstack align-middle">
  <div class="column">
    <h5 class="callout-header-title">Approvals</h5>
  </div>
  <div class="column medium-3 medium-text-right">
    <%= link_to "Get Approval", new_deal_approval_path(@deal), class: "button" %>
    <%= link_to "View Approvals", deal_approvals_path(@deal), class: "button secondary" %>
  </div>
</div>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th colspan="2">Actions</th>
  </tr>
  <% list.each do |approval| %>
    <tr>
      <td><%= approval.description %></td>
      <td><%= approval.status %></td>
      <td><%= link_to "Edit", edit_deal_approval_path(deal, approval) if approval.pending? %></td>
      <td><%= link_to "Destroy", deal_approval_path(deal, approval), method: :delete if approval.pending? %></td>
    </tr>
  <% end %>
</table>
