<div class="callout-header row medium-unstack align-middle">
  <div class="column">
    <h5 class="callout-header-title">Approvals</h5>
  </div>
  <div class="column medium-3 medium-text-right">
    <%= link_to "Get Approval", new_deal_approval_path(@deal), class: "button" %>
    <%= link_to "View Approvals", deal_approvals_path(@deal), class: "button secondary" %>
  </div>
</div>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <% list.each do |approval| %>
    <tr>
      <td>
        <%= approval.description %>
        <div class="pull-right">
          <%= link_to edit_deal_approval_path(deal, approval) do %>
            <span class="fa fa-edit" title="Edit"></span>
          <% end if approval.pending? %>
          &nbsp;
          <%= link_to deal_approval_path(deal, approval), method: :delete do %>
            <span class="fa fa-trash" title="Destroy"></span>
          <% end if approval.pending? %>
        </div>
      </td>
      <td class="text-center"><%= approval.status %></td>
    </tr>
  <% end %>
</table>
