<h5 class="callout-header-title">Designs</h5>
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <% list_accordion.each do |design| %>
    <li class="accordion-item" data-accordion-item style="
                <%= "background-color: #8bc34a".html_safe if design.version_for_production.present? %>
              ">
      <!-- Accordion tab title -->
      <a href="#" class="accordion-title design-accordion">
        <span class="design-name"><%= design.id %>#<%= design.name %></span>
        <span class="product-name text-center"><strong>Product:</strong> <%= design.job_request.product.name %></span>
        <span class="total-qty text-center"><strong>Total quantity:</strong>
          <%= design.deal.quotation.quotation_lines
              .where(job_request_id: design.design_requests.first.job_request_id)
              .collect{|j| j.quantity}.inject(:+) %>
        </span>
      </a>

      <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
      <div class="accordion-content" data-tab-content>
        <% if design.version_for_production %>
          <% if design.version_for_production.visual.manual? %>
            <%= image_tag design.visual.attachment_url, class: "design-accordion-image" %>
          <% elsif design.version_for_production.visual.visual_prints.count > 0 %>
            <%= render partial: "visual_generators/components/visual_other_info",
                    locals: { visual: design.version_for_production.visual } %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
