<%= render "shared/page_header", {title: "Samples"} %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Design</th>
      <th>AC Comments</th>
      <th>Creative Comments</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.id %></td>
        <td><%= sample.project.design.attributes.present? ? sample.project.design.name : nil %></td>
        <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
          <td><%= best_in_place sample, :ac_comments, as: :textarea, place_holder: "Click me to edit" %></td>
        <% else %>
          <td><%= simple_format sample.ac_comments %></td>
        <% end %>
        <td><%= simple_format sample.creative_comments %></td>
        <td nowrap>
          <div class="row">
            <% sample.sample_attachments.each do |attachment| %>
              <p class="small-12 medium-6"><%= image_tag attachment.attachment_original_url, class: "sample-image" %></p>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
