<span id="organization-address" data-organization-address="<%= @deal.organization.address.to_json %>"></span>

<% if deal.job_requests_with_designs.empty? %>
  <%= render "shared/empty_list_placeholder", message: "This deal does not have any designs." %>
<% else %>
  <%= simple_nested_form_for [deal, packing_list], html: {multipart: true} do |form| %>
    <%= form.input :shipping_method, collection: PackingList.shipping_methods.keys.collect { |k| [k.humanize, k] }  %>

    <div class="self-pickup-locations-container" style="<%= 'display:none' if !(@packing_list.shipping_method == "self_pick_up") %>">
      <%= label_tag :self_pickup_locations %>
      <%= radio_button_tag(:self_pickup_locations, "malaysia", (@packing_list.shipping_method == "self_pick_up" && @packing_list.address&.country_code == "MY")) %>
      <%= label_tag(:self_pickup_locations_malaysia, "Malaysia") %>
      <%= radio_button_tag(:self_pickup_locations, "singapore", (@packing_list.shipping_method == "self_pick_up" && @packing_list.address&.country_code == "SG")) %>
      <%= label_tag(:self_pickup_locations_singapore, "Singapore") %>
    </div>

    <%= form.input :upload_attachment, label: "Upload attachment (If selected then don't have to fill in address details)" %>

    <div class="packing-list-manual" style="<%= 'display:none' if @packing_list.upload_attachment %>">
      <div class="row medium-unstack">
        <div class="column">
          <%= form.input :department %>
          <div class="callout">
            <%= render "shared/callout_header", title: "Address" %>
            <%= form.fields_for :pics do |pic_form| %>
              <div class="row">
                <div class="column">
                  <%= pic_form.input :name %>
                  <%= pic_form.input :email %>
                </div>
                <div class="column">
                  <%= pic_form.input :tel %>
                  <%= pic_form.input :title %>
                </div>
                <div class="column large-2 align-self-middle">
                  <%= pic_form.link_to_remove class: "button alert remove-button" do %>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= form.link_to_add "Add PIC", :pics, class: "button warning" %>
          </div>
        </div>

        <div class="column">
          <header class="header small bordered">
            <div class="row align-middle">
              <div class="columns">
                <h4 class="header-title">Address</h4>
              </div>
              <div class="columns text-right">
                <%= link_to "Auto fill organization address", "javascript:void(0)", id: "auto-fill-address" %>
              </div>
            </div>
          </header>
          <%= form.fields_for :address do |address_form| %>
            <%= address_form.input :name, label: "Att/Company Name" %>
            <%= address_form.input :address1 %>
            <%= address_form.input :address2 %>
            <%= address_form.input :city %>
            <%= address_form.input :postal_code %>
            <%= address_form.input :country_code, collection: (ISO3166::Country.all.collect {|c| [c.name, c.alpha2]}.sort_by{|name, code| name} - [["Netherlands Antilles", "AN"], ["Åland Islands", "AX"]]).unshift(["Åland Islands", "AX"]), input_html: {class: "country-select"} %>
            <%= address_form.input :state, collection: address_form.object.country_code.present? ? (ISO3166::Country[address_form.object.country_code].states.collect{|s|s.last['name']}) : [], input_html: {class: "state-select"} %>
          <% end %>
        </div>
      </div>

      <%= render "shared/callout_header", title: "Product Breakdown" %>
      <% deal.job_requests_with_designs.each do |job_request| %>
        <div class="row">
          <div class="column small-11">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
              <li class="accordion-item <%= 'is-active' if @job_request_ids.include?(job_request.id.to_s) %>" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title"><%= job_request.design_name %></a>

                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                  <table>
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Color</th>
                        <% job_request.selected_sizes.each do |size| %>
                          <th><%= size.name %></th>
                        <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <% job_request.selected_colors.each do |color| %>
                        <tr>
                          <th><%= job_request.product.name %></th>
                          <th><%= color.name %></th>
                          <%= form.fields_for :packing_list_items, packing_list.packing_list_items.select { |item| (item.job_request_id == job_request.id && item.color_id == color.id) } do |item_form| %>
                            <%= item_form.input :job_request_id, as: :hidden, input_html: {value: item_form.object.job_request_id} %>
                            <%= item_form.input :color_id, as: :hidden, input_html: {value: item_form.object.color_id} %>
                            <%= item_form.input :size_id, as: :hidden, input_html: {value: item_form.object.size_id} %>
                            <td><%= item_form.input :quantity, label: false, input_html: {min: 0} %></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
          <div class="column small-1 align-self-middle">
            <label class="packing-list-label text-center">
              <%= check_box_tag "select_job_request[]", job_request.id, @job_request_ids.include?(job_request.id.to_s), class: "packing-list-checkbox" %>
              <span class="box"></span>
            </label>
          </div>
        </div>
      <% end %>
    </div>

    <div class="packing-list-upload" style="<%= 'display:none' if !@packing_list.upload_attachment %>">
      <%= label_tag "attachments[]", "Add Files Here" %>
      <%= file_field_tag "attachments[]", multiple: true %>

      <%= form.simple_fields_for :attachments do |attachment_form| %>
        <p>
          <%= attachment_form.hidden_field :attachment, value: attachment_form.object.cached_attachment_data %>
          <%= attachment_form.object.attachment.original_filename %>
          <%= attachment_form.link_to_remove "Remove"  %>
        </p>
      <% end %>
    </div>

    <div class="row">
      <div class="column">
        <%= form.button :submit %>
      </div>
    </div>
  <% end %>
<% end %>
