<% content_for :header_actions do %>
  <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
    <%= link_to 'Edit', edit_deal_packing_list_path(@packing_list.deal, @packing_list) %> |
  <% end %>
  <%= link_to 'Back', deal_path(@packing_list.deal) %>
<% end %>

<%= render "shared/page_header", {title: "Packing List ##{@packing_list.id}"} %>

<p>
  <strong>Id:</strong>
  <%= @packing_list.id %>
</p>

<p>
  <strong>Method:</strong>
  <%= @packing_list.shipping_method %>
</p>

<% if @packing_list.upload_attachment %>
  <p>
    <strong>Attachments:</strong><br>
    <% @packing_list.attachments.each do |attachment| %>
      <%= link_to attachment.attachment.original_filename, attachment_path(attachment) %><br>
    <% end %>
  </p>
<% else %>
  <p>
    <strong>Address:</strong>
    <%= @packing_list.address.to_html %>
  </p>

  <h5>Person In Charge</h5>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @packing_list.pics.each do |pic| %>
        <tr>
          <td><%= pic.name %></td>
          <td><%= pic.email %></td>
          <td><%= pic.tel %></td>
          <td><%= pic.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h5>Details</h5>
  <% @packing_list.packing_list_items.pluck(:job_request_id).uniq.each do |job_request_id| %>
    <% job_request = JobRequest.find(job_request_id) %>
    <%= render "shared/callout_header", title: job_request.design_name %>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Color</th>
          <% job_request.selected_sizes.each do |size| %>
            <th><%= size.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% job_request.selected_colors.each do |color| %>
          <tr>
            <th><%= job_request.product.name %></th>
            <th><%= color.display_name %></th>
            <% @packing_list.packing_list_items.where(job_request_id: job_request_id, color_id: color.id).order(size_id: :asc).each do |item| %>
              <td>
                <%= item.quantity %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr></tr>
      </tbody>
    </table>
  <% end %>
<% end %>
