<%= simple_nested_form_for [deal, job_request] do |form| %>
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <%= form.input :name %>
      <%= form.input :budget %>
      <%= form.input :product_id, collection: Product.all.collect { |p| [p.name, p.id] }, input_html: {id: "product-select"}, selected: @product ? @product.id : nil, include_blank: true %>
      <%= label_tag "job_requests[colors][]" do %>
        <abbr title="required">*</abbr>
        Colors
        <%= link_to "Add Pantone Color", @product ? new_color_path(@product, deal_id: @deal.id) : "javascript:void(0)", class: "pull-right", id: "add-pantone-color-link", style: (@product && @product.custom_dye) ? "display: block" : "display: none", data: {"deal_id": @deal.id} %>
      <% end %>
      <%= form.input :colors, label: false, collection: @product ? @product.colors.collect { |c| [c.display_name, c.id] } : [], selected: @product ? (@product.color_ids & @job_request.selected_color_ids) : [], input_html: { multiple: true, id: "colors-select" } %>
      <%= form.input :sizes, collection: @product ? @product.sizes.collect { |s| [s.name, s.id] } : [], selected: @product ? (@product.size_ids & @job_request.selected_size_ids) : [], input_html: { multiple: true, id: "sizes-select" } %>
    </div>

    <div class="medium-8 columns">
      <h5><strong>Print Details</strong></h5>
      <%= form.simple_fields_for :print_details do |print_detail| %>
        <div class="row align-bottom">
          <div class="column">
            <%= print_detail.input :position %>
          </div>
          <div class="column">
            <%= print_detail.input :print_method, collection: PrintDetail.print_methods %>
          </div>
            <div class="column">
            <%= print_detail.input :block %>
          </div>
          <div class="column">
            <%= print_detail.input :color_count %>
          </div>
          <div class="small-1 column">
            <%= print_detail.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= form.link_to_add "Add print detail", :print_details, class: "button warning" %>

      <hr>
      <h5><strong>Properties</strong></h5>
      <%= form.simple_fields_for :properties do |property| %>
        <div class="row">
          <div class="column">
            <%= property.input :name, input_html: { list: "properties-type", class: "properties-name" } %>
          </div>
          <div class="column">
            <%= property.input :value, input_html: { class: "properties-value" } %>
          </div>
          <div class="small-1 column align-self-bottom">
            <%= property.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= form.link_to_add "Add property", :properties, class: "button warning" %>

    </div>
  </div>

  <div class="row medium-unstack">
    <div class="columns">
      <%= form.input :remark, input_html: { rows: "5" } %>
    </div>
    <div class="columns">
      <%= form.input :client_comment, input_html: { rows: "5" } %>
    </div>
  </div>

  <%= form.button :submit %>
<% end %>

<datalist id="properties-type">
  <% @deal.properties_type.each do |property_name| %>
    <option value="<%= property_name %>">
  <% end %>
</datalist>

<script>
  var properties_placeholder = <%= raw @deal.properties_placeholder.to_json %>
  var properties_name = $(".properties-name")
  for (i = 0; i < properties_name.length; i ++) {
    property_name = $(properties_name[i]).val()
    parent = $(properties_name[i]).parent().parent().parent()
    property_value = parent.find(".properties-value")
    property_value.attr("placeholder", properties_placeholder[property_name])
  }
</script>
