<%= simple_nested_form_for(job_request) do |form| %>
  <% if job_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_request.errors.count, "error") %> prohibited this job_request from being saved:</h2>

      <ul>
      <% job_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row medium-unstack">
    <div class="columns">
      <%= form.association :deal  %>
      <%= form.input :product_id, as: :select, collection: Product.all.collect { |p| [p[:name], p[:id]]}, include_blank: false %>
      <%= form.input :color_id, collection: Product.all[1][:colors].collect {|c| [c[:name], c[:id]]}, include_blank: false %>

      <%= form.input :sizes, collection: Product.all[1][:sizes].collect { |c| [c[:name], c[:id]] }, input_html: { multiple: true } %>
      <%= form.input :name %>
      <%= form.input :sleeve %>
      <%= form.input :relabeling %>
    </div>

    <div class="columns">
      <%= form.input :woven_tag %>
      <%= form.input :hang_tag %>
      <%= form.input :pantone_code %>
      <%= form.input :remark %>
      <%= form.input :sample_required %>
      <%= form.input :budget %>
      <%= form.input :client_comment %>
    </div>
  </div>

  <div class="row columns">
    <%= form.simple_fields_for :print_details do |print_detail| %>
      <%= print_detail.input :print_method, collection: PrintDetail.print_methods %>

      <%= print_detail.link_to_remove "Remove This Print Detail" %>
    <% end %>
    <p><%= form.link_to_add "Add print detail", :print_details %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
