<%= simple_nested_form_for [deal, job_request] do |form| %>
  <div class="row medium-unstack">
    <div class="columns">
      <%= form.input :product_id, as: :select, collection: Product.all.collect { |p| [p[:name], p[:id]]}, include_blank: false %>
      <%= form.input :colors, collection: Product.all[1][:colors].collect {|c| [c[:name], c[:id]]}, include_blank: false, input_html: { multiple: true } %>

      <%= form.input :sizes, collection: Product.all[1][:sizes].collect { |c| [c[:name], c[:id]] }, input_html: { multiple: true } %>
      <%= form.input :name %>
      <%= form.input :sleeve %>
      <%= form.input :relabeling %>
    </div>

    <div class="columns">
      <%= form.input :woven_tag %>
      <%= form.input :hang_tag %>
      <%= form.input :pantone_code %>
      <%= form.input :remark %>
      <%= form.input :sample_required %>
      <%= form.input :budget %>
      <%= form.input :client_comment %>
    </div>
  </div>

  <div class="row columns">
    <fieldset class="callout">
      <h5>Print Details</h5>
      <%= form.simple_fields_for :print_details do |print_detail| %>
        <div class="row align-bottom">
          <div class="column">
            <%= print_detail.input :position %>
          </div>
          <div class="column">
            <%= print_detail.input :print_method, collection: PrintDetail.print_methods %>
          </div>
            <div class="column">
            <%= print_detail.input :block %>
          </div>
          <div class="column">
            <%= print_detail.input :color_count %>
          </div>
          <div class="small-1 column">
            <%= print_detail.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= form.link_to_add "Add print detail", :print_details, class: "button warning" %>
    </fieldset>
  </div>

  <%= form.button :submit %>
<% end %>
