<%= simple_nested_form_for [deal, job_request], html: {multipart: true} do |form| %>
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <%= form.input :name %>
      <%= form.input :budget %>
      <%= form.input :product_id, collection: Product.all.collect { |p| [p.name, p.id] }, input_html: {id: "product-select"}, selected: @product ? @product.id : nil, include_blank: true %>
      <div class="input <%= 'error' if @colors && @colors.empty? %>">
        <%= label_tag "job_requests[colors][]" do %>
          <abbr title="required">*</abbr>
          Colors
          <%= link_to "Add Pantone Color", @product ? new_color_path(@product, deal_id: @deal.id) : "javascript:void(0)", class: "pull-right", id: "add-pantone-color-link", style: (@product && @product.custom_dye) ? "display: block" : "display: none", data: {"deal_id": @deal.id} %>
        <% end %>
        <%= form.input :colors, label: false, collection: @product ? @product.colors.collect { |c| [c.display_name, c.id] } : [], selected: @product ? (@product.color_ids & @job_request.selected_color_ids) : [], input_html: { multiple: true, id: "colors-select" } %>
        <% if @colors && @colors.empty? %>
          <small class="error">must be selected</small>
        <% end %>
      </div>

      <div class="input <%= 'error' if @sizes && @sizes.empty? %>">
        <%= label_tag "job_requests[sizes][]" do %>
          <abbr title="required">*</abbr>
          Sizes
        <% end %>
        <%= form.input :sizes, label: false, collection: @product ? @product.sizes.collect { |s| [s.name, s.id] } : [], selected: @product ? (@product.size_ids & @job_request.selected_size_ids) : [], input_html: { multiple: true, id: "sizes-select" } %>
        <% if @sizes && @sizes.empty? %>
          <small class="error">must be selected</small>
        <% end %>
      </div>
    </div>

    <div class="medium-8 columns">
      <div class="callout">
        <div class="header small">
          <h2 class="header-title">Client Artworks</h2>
        </div>
        <%= form.input :provide_artwork %>

        <div class="design-brief-and-concept" style="<%= 'display:none' if job_request.provide_artwork %>">
          <%= form.input :design_brief %>
          <%= form.input :concept %>
        </div>
        <div class="attachments-upload" style="<%= 'display:none' if !job_request.provide_artwork %>">
          <%= label_tag "attachments[]", "Upload Artwork" %>
          <%= file_field_tag "attachments[]", multiple: true %>

          <div class="row small-up-2 medium-up-3 large-up-4">
            <%= form.simple_fields_for :attachments, wrapper: false do |attachment_form| %>
              <div class="column fields">
                <%= attachment_form.hidden_field :attachment, value: attachment_form.object.cached_attachment_data %>
                <%= attachment_form.link_to_remove "Remove"  %>
                <%= image_tag attachment_form.object.attachment_url %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="callout">
        <div class="header small">
          <h2 class="header-title">Print Details</h2>
        </div>
        <%= form.simple_fields_for :print_details do |print_detail| %>
          <div class="row align-bottom">
            <div class="column">
              <%= print_detail.input :position, collection: PrintDetail.print_positions %>
            </div>
            <div class="column">
              <%= print_detail.input :print_method, collection: PrintDetail.print_methods %>
            </div>
              <div class="column">
              <%= print_detail.input :block, collection: PrintDetail.block_sizes %>
            </div>
            <div class="column">
              <%= print_detail.input :color_count %>
            </div>
            <div class="small-1 column">
              <%= print_detail.link_to_remove class: "button alert remove-button" do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= form.link_to_add "Add print detail", :print_details, class: "button warning" %>
      </div>


      <div class="callout">
        <div class="header small">
          <h2 class="header-title">Properties</h2>
        </div>
        <%= form.simple_fields_for :job_request_properties do |property| %>
          <div class="row">
            <div class="column">
              <%= property.input :name, input_html: { list: "properties-type", class: "properties-name" } %>
            </div>
            <div class="column">
              <%= property.input :value, input_html: { class: "properties-value" } %>
            </div>
            <div class="small-1 column align-self-bottom">
              <%= property.link_to_remove class: "button alert remove-button" do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= form.link_to_add "Add property", :job_request_properties, class: "button warning" %>
      </div>

    </div>
  </div>

  <div class="row medium-unstack">
    <div class="columns">
      <%= form.input :remark, input_html: { rows: "5" } %>
    </div>
    <div class="columns">
      <%= form.input :client_comment, input_html: { rows: "5" } %>
    </div>
  </div>

  <%= form.button :submit %>
<% end %>

<datalist id="properties-type">
  <% JobRequestProperty.name_and_placeholders.each do |property_name, property_value| %>
    <option value="<%= property_name %>">
  <% end %>
</datalist>

<script>
  var properties = <%= raw JobRequestProperty.name_and_placeholders.to_json %>
  var properties_name = $(".properties-name")
  for (i = 0; i < properties_name.length; i ++) {
    property_name = $(properties_name[i]).val()
    parent = $(properties_name[i]).parent().parent().parent()
    property_value = parent.find(".properties-value")
    property_value.attr("placeholder", properties[property_name])
  }
</script>
