<%= render "shared/callout_header",
  title: "Job Requests",
  links: current_user.has_any_role?(:admin, :apparel_consultant, :director) ? [{title: "Submit a Job Request", path: new_deal_job_request_path(@deal)}] : []
%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Budget</th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |job_request| %>
      <tr>
        <td>
          <span class="subheader">#<%= job_request.id %></span>
          <%= link_to job_request.name, deal_job_request_path(@deal, job_request) %>
          <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
            <div class="pull-right">
              <%= link_to edit_deal_job_request_path(@deal, job_request) do %>
                <span title="Edit" class="fa fa-pencil"></span>
              <% end %>
              &nbsp;
              <%= link_to duplicate_deal_job_request_path(@deal, job_request) do %>
                <span title="Duplicate" class="fa fa-files-o"></span>
              <% end %>
              &nbsp;
              <%= link_to deal_job_request_path(@deal, job_request), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="fa fa-trash" title="delete"></span>
              <% end %>
            </div>
          <% end %>
        </td>
        <td><%= job_request.product.name %></td>
        <td><%= job_request.budget %></td>
      </tr>
    <% end %>
  </tbody>
</table>
