<div class="callout-header row medium-unstack align-middle">
  <div class="column">
    <h5 class="callout-header-title">Job Requests</h5>
  </div>
  <div class="column medium-3 medium-text-right">
    <%= link_to "Submit a Job Request", new_deal_job_request_path(@deal), class: "button" %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Deal</th>
      <th>Product</th>
      <th>Color</th>
      <th>Sleeve</th>
      <th>Relabeling</th>
      <th>Woven tag</th>
      <th>Hang tag</th>
      <th>Pantone code</th>
      <th>Sample required</th>
      <th>Budget</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |job_request| %>
      <tr>
        <td><%= link_to job_request.name, deal_job_request_path(@deal, job_request) %></td>
        <td><%= job_request.product_id %></td>
        <td><%= job_request.color_id %></td>
        <td><%= job_request.sleeve %></td>
        <td><%= job_request.relabeling %></td>
        <td><%= job_request.woven_tag %></td>
        <td><%= job_request.hang_tag %></td>
        <td><%= job_request.pantone_code %></td>
        <td><%= job_request.sample_required %></td>
        <td><%= job_request.budget %></td>
        <td><%= link_to 'Edit', edit_deal_job_request_path(@deal, job_request) %></td>
        <td><%= link_to 'Destroy', deal_job_request_path(@deal, job_request), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
