<div class="header small bordered">
  <div class="row align-middle">
    <div class="column">
      <h5 class="header-title">Job Requests</h5>
    </div>
    <div class="column medium-text-right">
      <%= link_to "Submit a Job Request", new_deal_job_request_path(@deal), class: "button" %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Budget</th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |job_request| %>
      <tr>
        <td>
          <span class="subheader">#<%= job_request.id %></span>
          <%= link_to job_request.name, deal_job_request_path(@deal, job_request) %>
          <div class="pull-right">
            <%= link_to edit_deal_job_request_path(@deal, job_request) do %>
              <span title="Edit" class="fa fa-pencil"></span>
            <% end %>
            &nbsp;
            <%= link_to deal_job_request_path(@deal, job_request), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="fa fa-trash" title="delete"></span>
            <% end %>
          </div>
        </td>
        <td><%= job_request.product.name %></td>
        <td><%= job_request.budget %></td>
      </tr>
    <% end %>
  </tbody>
</table>
