<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_deal_job_request_path(@deal, @job_request) %> |
  <%= link_to 'Back', @deal %>

<% end %>

<%= render "shared/page_header", {title: "Job Request #{@job_request&.name}"} %>

<div class="row medium-unstack">
  <div class="column">
    <strong>Deal</strong>
    <p><%= @job_request.deal.display_name %></p>

    <strong>Product</strong>
    <p>
      <%= @job_request.product.name %>
    </p>

    <strong>Budget</strong>
    <p>
      <%= @job_request.budget %>
    </p>
  </div>


  <div class="column">
    <strong>Colors</strong>
    <ul>
      <% @job_request.selected_colors.each do |color| %>
        <li><%= color.display_name %></li>
      <% end %>
    </ul>

    <strong>Sizes</strong>
    <ul>
      <% @job_request.selected_sizes.each do |size| %>
        <li><%= size.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <strong>Name</strong>
    <p>
      <%= @job_request.name %>
    </p>

    <strong>Relabeling</strong>
    <p>
      <%= @job_request.relabeling %>
    </p>

    <strong>Woven tag</strong>
    <p>
      <%= @job_request.woven_tag %>
    </p>

    <strong>Hang tag</strong>
    <p>
      <%= @job_request.hang_tag %>
    </p>
  </div>
</div>

<div class="callout">
  <h5>Print Details</h5>
  <table>
    <thead>
      <tr>
        <th>Position</th>
        <th>Print Method</th>
        <th>Block</th>
        <th>Color Count</th>
      </tr>
    </thead>
    <tbody>
      <% @job_request.print_details.each do |print_detail| %>
        <tr>
          <td><%= print_detail.position %></td>
          <td><%= print_detail.print_method %></td>
          <td><%= print_detail.block %></td>
          <td><%= print_detail.color_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="callout">
  <h5>Properties</h5>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @job_request.properties.each do |property| %>
        <tr>
          <td><%= property.name %></td>
          <td><%= property.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="callout">
  <div class="row">
    <div class="column">
      <strong>Remarks</strong>
      <%= simple_format @job_request.remark %>
    </div>
    <div class="column">
      <strong>Client comment</strong>
      <%= simple_format @job_request.client_comment %>
    </div>
  </div>
</div>
