<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_deal_job_request_path(@deal, @job_request) %> |
  <%= link_to 'Back', @deal %>

<% end %>

<%= render "shared/page_header", {title: "Job Request"} %>

<div class="row">
  <div class="medium-6 column">
    <p>
      <strong>Deal:</strong>
      <%= @job_request.deal.display_name %>
    </p>

    <p>
      <strong>Product:</strong>
      <%= @job_request.product.name %>
    </p>

    <p>
      <strong>Colors:</strong>
      <ul>
        <% @job_request.selected_colors.each do |color| %>
          <li><%= color.name %></li>
        <% end %>
      </ul>
    </p>

    <p>
      <strong>Sizes:</strong>
      <ul>
        <% @job_request.selected_sizes.each do |size| %>
          <li><%= size.name %></li>
        <% end %>
      </ul>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @job_request.name %>
    </p>

    <p>
      <strong>Sleeve:</strong>
      <%= @job_request.sleeve %>
    </p>

    <p>
      <strong>Relabeling:</strong>
      <%= @job_request.relabeling %>
    </p>

    <p>
      <strong>Woven tag:</strong>
      <%= @job_request.woven_tag %>
    </p>

    <p>
      <strong>Hang tag:</strong>
      <%= @job_request.hang_tag %>
    </p>

    <p>
      <strong>Pantone code:</strong>
      <%= @job_request.pantone_code %>
    </p>

    <p>
      <strong>Remark:</strong>
      <%= @job_request.remark %>
    </p>

    <p>
      <strong>Sample required:</strong>
      <%= @job_request.sample_required %>
    </p>

    <p>
      <strong>Budget:</strong>
      <%= @job_request.budget %>
    </p>

    <p>
      <strong>Client comment:</strong>
      <%= @job_request.client_comment %>
    </p>
  </div>
  <div class="medium-6 column">

  </div>
</div>
