<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_deal_job_request_path(@deal, @job_request) %> |
  <%= link_to 'Back', @deal %>

<% end %>

<%= render "shared/page_header", {title: "Job Request"} %>

<div class="row">
  <div class="medium-6 column">
    <p>
      <strong>Deal:</strong>
      <%= @job_request.deal.display_name %>
    </p>

    <p>
      <strong>Product:</strong>
      <%= @job_request.product_id %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= @job_request.color_id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @job_request.name %>
    </p>

    <p>
      <strong>Sleeve:</strong>
      <%= @job_request.sleeve %>
    </p>

    <p>
      <strong>Relabeling:</strong>
      <%= @job_request.relabeling %>
    </p>

    <p>
      <strong>Woven tag:</strong>
      <%= @job_request.woven_tag %>
    </p>

    <p>
      <strong>Hang tag:</strong>
      <%= @job_request.hang_tag %>
    </p>

    <p>
      <strong>Pantone code:</strong>
      <%= @job_request.pantone_code %>
    </p>

    <p>
      <strong>Remark:</strong>
      <%= @job_request.remark %>
    </p>

    <p>
      <strong>Sample required:</strong>
      <%= @job_request.sample_required %>
    </p>

    <p>
      <strong>Budget:</strong>
      <%= @job_request.budget %>
    </p>

    <p>
      <strong>Client comment:</strong>
      <%= @job_request.client_comment %>
    </p>
  </div>
  <div class="medium-6 column">
    <% if @job_request.quotation %>
      <%= link_to "Edit Quotation", edit_job_request_quotations_path(@job_request), class: "button" %>
      <%= link_to "Show Quotation", job_request_quotations_path(@job_request), class: "button success" %>
      <p>
        <strong>Payment Term:</strong>
        <%= @job_request.quotation.payment_term %>
      </p>

      <p>
        <strong>Discount Value:</strong>
        <%= @job_request.quotation.discount_value %>
      </p>

      <p>
        <strong>Currency:</strong>
        <%= @job_request.quotation.currency %>
      </p>

      <p>
        <strong>Shipping:</strong>
        <%= @job_request.quotation.shipping %>
      </p>

      <p>
        <strong>Net Total Cents:</strong>
        <%= @job_request.quotation.net_total_cents %>
      </p>

      <p>
        <strong>Sub Total Cents:</strong>
        <%= @job_request.quotation.sub_total_cents %>
      </p>

      <p>
        <strong>Tax Cents:</strong>
        <%= @job_request.quotation.tax_cents %>
      </p>

        <p>
          <strong>Discount</strong>
          <ul>
            <li>Type: <%= @job_request.quotation.discount.type %></li>
            <li>Value: <%= @job_request.quotation.discount.value %></li>
          </ul>
        </p>
    <% else %>
      <%= link_to "Add Quotation", new_job_request_quotations_path(@job_request) %>
    <% end %>
  </div>
</div>
