<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_deal_job_request_path(@deal, @job_request) %> |
  <%= link_to 'Back', @deal %>

<% end %>

<%= render "shared/page_header", {title: "Job Request"} %>

<div class="row medium-unstack">
  <div class="column">
    <strong>Deal</strong>
    <p><%= @job_request.deal.display_name %></p>

    <strong>Product</strong>
    <p>
      <%= @job_request.product.name %>
    </p>

    <strong>Budget</strong>
    <p>
      <%= @job_request.budget %>
    </p>
  </div>


  <div class="column">
    <strong>Colors</strong>
    <ul>
      <% @job_request.selected_colors.each do |color| %>
        <li><%= color.display_name %></li>
      <% end %>
    </ul>

    <strong>Sizes</strong>
    <ul>
      <% @job_request.selected_sizes.each do |size| %>
        <li><%= size.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <strong>Name</strong>
    <p>
      <%= @job_request.name %>
    </p>

    <strong>Sleeve</strong>
    <p>
      <%= @job_request.sleeve %>
    </p>

    <strong>Relabeling</strong>
    <p>
      <%= @job_request.relabeling %>
    </p>

    <strong>Woven tag</strong>
    <p>
      <%= @job_request.woven_tag %>
    </p>

    <strong>Hang tag</strong>
    <p>
      <%= @job_request.hang_tag %>
    </p>

    <strong>Pantone code</strong>
    <p>
      <%= @job_request.pantone_code %>
    </p>
  </div>

</div>

<div class="row column">
  <div class="callout">
    <strong>Remarks</strong>
    <p>
      <%= @job_request.remark %>
    </p>

    <strong>Sample required</strong>
    <p>
      <%= @job_request.sample_required %>
    </p>

    <strong>Client comment</strong>
    <p>
      <%= @job_request.client_comment %>
    </p>
  </div>
</div>
