<% content_for :header_actions do %>
  <%= link_to "Back", @deal %>
<% end %>

<%= render "shared/page_header", {title: @deal.display_name} %>

<table>
  <thead>
    <tr>
      <th>Deadline date</th>
      <th>Reason</th>
      <th>Cause By</th>
    </tr>
  </thead>
  <tbody>
    <% @deadlines.each do |deadline| %>
      <tr>
        <td><%= deadline.deadline %></td>
        <td><%= simple_format deadline.reason %></td>
        <td><%= deadline.cause_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>
