<%= simple_nested_form_for [organization, department] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <div class="callout">
    <div class="header small">
      <h5 class="header-title">Person(s) in charge</h5>
    </div>
    <%= f.fields_for :pics, wrapper: false do |p| %>
      <div class="fields row">
        <div class="columns">
          <%= p.input :name %>
        </div>
        <div class="columns">
          <%= p.input :email %>
        </div>
        <div class="columns">
          <%= p.input :tel %>
        </div>
        <div class="columns">
          <%= p.input :title %>
        </div>
        <div class="columns align-self-bottom">
          <%= p.link_to_remove class: "button alert remove-button" do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add "Add PIC", :pics, class: "button warning" %>
  </div>
  <%= f.button :submit %>
<% end %>
