<%= simple_nested_form_for [organization, department] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <div class="callout">
    <h3>PIC</h3>
    <%= f.fields_for :pics do |p| %>
      <div class="row">
        <div class="small-4 column">
          <%= p.input :name %>
        </div>
        <div class="small-3 column">
          <%= p.input :tel %>
        </div>
        <div class="small-4 column">
          <%= p.input :title %>
        </div>
        <div class="small-1 column">
          <%= p.link_to_remove class: "button alert remove-button" do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add "Add PIC", :pics, class: "button warning" %>
  </div>
  <%= f.button :submit %>
<% end %>
