<% content_for :header_actions do %>
  <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
    <%= link_to 'Edit', [:edit, @organization, @department] %> |
  <% end %>
  <%= link_to 'Back', @organization || @department %>
<% end %>

<%= render "shared/page_header", {title: @department.name} %>

<%= simple_format(@department.organization.name, wrapper: 'strong') %>
<div class="row">
  <div class="column">
    <% if @department.name.present? %>
      <strong>Department</strong>
      <%= @department.name %>
    <% end %>
  </div>
  <div class="column">
    <% if @department.description.present? %>
      <strong>Description:</strong>
      <%= @department.description %>
    <% end %>
  </div>
</div>

<hr>

<div class="callout">
  <%= render "shared/callout_header", title: "PIC" %>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Tel</th>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @department.pics.each do |pic| %>
        <tr>
          <td><%= pic.id %></td>
          <td><%= pic.name %></td>
          <td><%= pic.tel %></td>
          <td><%= pic.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="callout">
  <%= render "shared/callout_header", title: "Deals" %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>No of pcs</th>
        <th>Client Deadline</th>
      </tr>
    </thead>

    <tbody>
      <% @department.deals.each do |deal| %>
        <tr>
          <td>
            <%= content_tag :span, deal.id, class: "subheader" %>
            <%= link_to deal.name, deal %>
            <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
              <div class="pull-right">
                <%= link_to edit_deal_path(deal) do %>
                  <span class="fa fa-edit" title="Edit"></span>
                <% end %>
                &nbsp;
                <%= link_to deal, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="fa fa-trash" title="Destroy"></span>
                <% end %>
              </div>
            <% end %>
          </td>
          <td><%= deal.no_of_pcs %></td>
          <td><%= deal.client_deadline %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
