<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @department.organization_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<%= render partial: 'deals/list', object: @department.deals %>

<%= link_to 'New Deal', new_department_deal_path(@department) %>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
