<%= simple_nested_form_for @quotation, url: deal_quotations_path(@deal) do |f| %>

  <% @deal.job_requests.each do |job_request| %>
    <div class="row">
      <div class="small-6 column">
        <strong>Design</strong><br>
        <%= job_request.design_name %>
      </div>
      <div class="small-6 column">
        <strong>Price Per Piece:</strong><br>
        <%= hidden_field_tag "job_request_price_per_piece[#{job_request.id}][id]", job_request.id %>
        <%= number_field_tag "job_request_price_per_piece[#{job_request.id}][price_per_piece]", job_request.quotation_lines.first.price_per_unit %>
      </div>
      <div class="small-6 small-offset-6 column">
        <strong>Configurator Price Per Piece:</strong><br>
        <p class="configurator-price" data-job-request-id="<%= job_request.id %>">
          <%= job_request.configurator_price_per_piece %>
        </p>
      </div>
    </div>

    <h5>Product Breakdown</h5>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Color</th>
          <% job_request.product.sizes.each do |size| %>
            <th><%= size.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% job_request.selected_colors.each do |color| %>
          <tr>
            <th><%= job_request.product.name %></th>
            <th><%= color.name %></th>
            <%= f.fields_for :quotation_lines, @quotation.quotation_lines.where(job_request_id: job_request.id, color_id: color.id).order(size_id: :asc) do |q| %>
              <td><%= q.input :quantity, label: false, input_html: {class: "quantity-input", data: {"product-id": job_request.product_id, "job_request-id": job_request.id}} %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <div class="add-ons-form" data-job-request-id="<%= job_request.id %>">
      <%= f.fields_for :add_ons, @quotation.add_ons.where(job_request_id: job_request.id) do |a| %>
        <div class="row align-bottom">
          <div class="column">
            <%= a.input :job_request_id, as: :hidden, input_html: {class: "job_request_input"} %>
            <%= a.input :description %>
            <% puts "job_request #{job_request.id}" %>
          </div>
          <div class="column">
            <%= a.input :quantity %>
          </div>
          <div class="column">
            <%= a.input :price_per_unit %>
          </div>
          <div class="small-1 column">
            <%= a.link_to_remove class: "button alert remove-button" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.link_to_add "Add On", :add_ons, data: {"job-request-id": job_request.id}, class: "button warning" %>
    </div>

  <% end %>

  <div class="row medium-unstack">
    <div class="columns">
      <%= f.input :payment_term %>
    </div>
    <div class="columns">
      <%= f.input :currency, collection: Money::Currency.all.map{|curr| ["#{curr.name} (#{curr.iso_code})", curr.iso_code]} %>
    </div>
    <div class="columns">
      <%= f.input :shipping %>
    </div>
    <div class="columns">
      <%= f.input :tax %>
    </div>
  </div>

  <div class="callout">
    <h3>Discount</h3>
    <%= f.fields_for :discount do |d| %>
    <div class="row">
      <div class="column">
        <%= d.input :type, collection: ["Discount::FlatRate", "Discount::Percentage"] %>
      </div>
      <div class="column">
        <%= d.input :value %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row columns">
    <%= f.button :submit %>
  </div>
  <% end %>
