<%= form_with(model: deal, local: true) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.number_field :department_id, id: :deal_department_id, value: params[:department_id] %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :deal_name %>
  </div>

  <div class="field">
    <%= form.label :no_of_pcs %>
    <%= form.number_field :no_of_pcs, id: :deal_no_of_pcs %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", :class => "button" %>
  </div>
<% end %>
