<div class="header small bordered">
  <div class="row align-middle">
    <div class="column">
      <h5 class="header-title">Product Breakdown</h5>
    </div>
    <div class="column medium-3 medium-text-right">
      <%= link_to "Edit Quotation", edit_deal_quotations_path(@deal), class: "button" %>
    </div>
  </div>
</div>

<table class="product-breakdown-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% quotation_lines = product_breakdown.quotation_lines %>
    <% product_colors = product_breakdown.quotation_lines.collect {|ql| [ql.description.split('|')[0], ql.description.split('|')[2]]}.uniq %>

    <% product_colors.each do |product_color| %>
      <tr>
        <td><%= product_color[0] %></td>
        <td><%= product_color[1] %></td>
        <td>
          <table class="product-breakdown-table">
            <thead>
              <tr>
                <% sizes = quotation_lines
                    .find_all { |ql|
                      ql.description.split('|')[0] == product_color[0] &&
                      ql.description.split('|')[2] == product_color[1]
                    }
                    .collect { |ql|
                      ql.description.split('|')[1]
                    }.uniq
                    sizes.each do |size| %>
                    <th class="text-center"><%= size %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% sizes.each do |size| %>
                 <td class="text-center"><%= quotation_lines
                    .find_all { |ql|
                      ql.description.split('|')[0] == product_color[0] &&
                      ql.description.split('|')[2] == product_color[1] &&
                      ql.description.split('|')[1] == size
                    }
                    .collect { |ql|
                      ql.quantity
                    }.inject(:+) %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <%= quotation_lines
             .find_all { |ql|
               ql.description.split('|')[0] == product_color[0] &&
               ql.description.split('|')[2] == product_color[1]
             }
             .collect { |ql|
               ql.quantity
             }.inject(:+) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h5 class="callout-header-title">Product Breakdown By Design</h5>
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <% @deal.designs.each do |design| %>
    <% job_request_id = design.design_requests.first.job_request_id %>
    <li class="accordion-item <%= "production" if design.version_for_production.present? %>" data-accordion-item>
      <a href="#" class="accordion-title design-accordion">
        <span class="design-name"><%= design.id %>#<%= design.name %></span>
        <span class="product-name text-center"><strong>Product:</strong>
          <%#= design.job_request.product.name %>
          <%= @deal.quotation_lines.find_all { |ql|
               design.design_requests.collect { |dr| dr.job_request_id }.include?(ql.job_request_id)
             }.collect { |ql|
               ql.description.split('|')[0]
             }.uniq %>
        </span>
        <span class="total-qty text-center"><strong>Total quantity:</strong>
          <%= @deal.quotation.quotation_lines
              .reject { |j| j.job_request_id != design.design_requests.first.job_request_id }
              .collect{|j| j.quantity}.inject(:+) %>
        </span>
        <span class="checkers-span">
          <strong>Checker:</strong>
          <% design.version_for_production&.checkers&.each do |checker| %>
            <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
          <% end %>
        </span>
      </a>

      <div class="accordion-content" data-tab-content>
        <table class="product-breakdown-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Color</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% quotation_lines = product_breakdown.quotation_lines.select {|ql| ql.job_request_id == job_request_id }  %>
            <% product_colors = quotation_lines.collect {|ql| [ql.description.split('|')[0], ql.description.split('|')[2]]}.uniq %>

            <% product_colors.each do |product_color| %>
              <tr>
                <td><%= product_color[0] %></td>
                <td><%= product_color[1] %></td>
                <td>
                  <table class="product-breakdown-table">
                    <thead>
                      <tr>
                        <% sizes = quotation_lines
                            .find_all { |ql|
                              ql.description.split('|')[0] == product_color[0] &&
                              ql.description.split('|')[2] == product_color[1]
                            }
                            .collect { |ql|
                              ql.description.split('|')[1]
                            }.uniq
                            sizes.each do |size| %>
                            <th class="text-center"><%= size %></th>
                        <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% sizes.each do |size| %>
                         <td class="text-center"><%= quotation_lines
                            .find_all { |ql|
                              ql.description.split('|')[0] == product_color[0] &&
                              ql.description.split('|')[2] == product_color[1] &&
                              ql.description.split('|')[1] == size
                            }
                            .collect { |ql|
                              ql.quantity
                            }.inject(:+) %></td>
                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <%= quotation_lines
                     .find_all { |ql|
                       ql.description.split('|')[0] == product_color[0] &&
                       ql.description.split('|')[2] == product_color[1]
                     }
                     .collect { |ql|
                       ql.quantity
                     }.inject(:+) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </li>
  <% end %>
</ul>
