<% content_for :header_actions do %>
<% end %>
<%= render "shared/page_header", {title: "Deals"} %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>No of pcs</th>
      <th>Client Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.id %></td>
        <td><%= "#{deal.name} - #{deal.department.organization.name}, #{deal.department.name}" %></td>
        <td><%= deal.no_of_pcs %></td>
        <td><%= deal.client_deadline %></td>
        <td>
          <div class="button-group">
            <%= link_to 'Show', deal, class: "button" %>
            <%= link_to 'Edit', edit_deal_path(deal), class: "button" %>
            <%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
