<%= link_to 'New Deal', new_deal_path, class: "button" %>
<h1>Deals</h1>
<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Name</th>
      <th>No of pcs</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.department_id %></td>
        <td><%= deal.name %></td>
        <td><%= deal.no_of_pcs %></td>
        <td>
          <div class="button-group">
            <%= link_to 'Show', deal, class: "button" %>
            <%= link_to 'Edit', edit_deal_path(deal), class: "button" %>
            <%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
