<% content_for :header_actions do %>
<% end %>
<%= render "shared/page_header", {title: "My Deals"} %>

<%= render "shared/filter",
  fields: [
    {field_type: :number_field, field_name: :id_eq},
    {field_type: :search_field, field_name: :name_cont},
    {field_type: :search_field, field_name: :organization_name_cont},
    {field_type: :search_field, field_name: :pic_name_or_pic_email_cont}
  ],
  url: my_deals_deals_path
%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">No of pcs</th>
      <th>Client Deadline</th>
      <th>Conditions</th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td>
          <span class="subheader">#<%= deal.id %></span>
          <%= link_to "#{deal.name} - #{deal.department.organization.name}, #{deal.department.name}", deal %>
          <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
            <div class="pull-right">
              <%= link_to edit_deal_path(deal) do %>
                <span title="Edit" class="fa fa-pencil"></span>
              <% end %>
              &nbsp;
              <%= link_to deal, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span title="Delete" class="fa fa-trash"></span>
              <% end %>
            </div>
          <% end %>
        </td>
        <td class="text-center"><%= deal.no_of_pcs %></td>
        <td><%= deal.client_deadline %></td>
        <td>
          <% if !deal.has_pending_shipping? %>
            <i class="fa fa-ship" aria-hidden="true" title="<%= I18n.t "condition.has_pending_shipping.false" %>"></i>
          <% end %>
          <% if !deal.has_pending_delivery_schedules? %>
            <i class="fa fa-truck" aria-hidden="true" title="<%= I18n.t "condition.has_pending_delivery_schedules.false" %>"></i>
          <% end %>
          <% if !deal.has_pending_projects_for_designs? %>
            <i class="fa fa-industry" aria-hidden="true" title="<%= I18n.t "condition.has_pending_projects_for_designs.false" %>"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @deals %>
