<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_deal_path(@deal) %> |
  <%= link_to 'Back', deals_path %>
<% end %>

<%= render "shared/page_header", {title: @deal.display_name} %>

<div class="row medium-unstack">
  <div class="columns">
    <p>
      <strong>No of pcs:</strong>
      <%= @deal.no_of_pcs %>
    </p>
    <p>
      <strong>Employee:</strong>
      <%= "#{@deal.employee.name} (#{@deal.employee.email})" %>
    </p>
    <p>
      <strong>Client Deadline:</strong>
      <%= @deal.client_deadline %>
      <div class="button-group">
        <%= link_to "View deadlines", deal_deadlines_path(@deal), class: "button" %>
        <%= link_to "New Deadline", new_deal_deadline_path(@deal), class: "button alert" if @deal.client_deadline %>
      </div>
    </p>
  </div>
  <div class="columns">
    <p>
      <strong>Company:</strong>
      <%= @deal.organization.name %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @deal.pic.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @deal.pic.email %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= @deal.pic.tel %>
    </p>
  </div>

</div>

<% if @deal.job_requests.present? %>
  <div class="callout">
    <div class="button-group">
      <% if @deal.quotation %>
        <%= link_to "Edit Quotation", edit_deal_quotations_path(@deal), class: "button" %>
        <%= link_to "View Quotation", deal_quotations_path(@deal), class: "button" %>
      <% else %>
        <%= link_to "New Quotation", new_deal_quotations_path(@deal), class: "button" %>
      <% end %>
      <%= link_to "Get Approval", new_deal_approval_path(@deal), class: "button secondary" %>
      <%= link_to "Approvals", deal_approvals_path(@deal), class: "button secondary" %>
      <%= link_to "New Packing List", new_deal_packing_list_path(@deal), class: "button success" %>
      <%= link_to "View Packing List", deal_packing_lists_path(@deal), class: "button warning" %>
      <%= link_to "New Collection", new_deal_transaction_path(@deal), class: "button" %>
      <%= link_to "Collections", deal_transactions_path(@deal), class: "button secondary" %>
      <%= link_to "Conditions", deal_conditions_path(@deal), class: "button secondary" %>
    </div>
  </div>
<% end %>

<div class="callout">
  <%= render partial: "job_requests/list", object: @deal.job_requests %>
</div>

<div class="callout">
  <%= render partial: "approvals/list", object: @deal.approvals, locals: { deal: @deal } %>
</div>

<div class="callout">
  <%= render partial: "designs/list_accordion", object: @deal.designs %>
</div>

<% if @deal.quotation %>
  <div class="callout">
    <h5 class="callout-header-title">Product Breakdown</h5>
    <table class="product-breakdown-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Color</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @deal.quotation.job_requests.uniq.each do |job_request| %>
          <% job_request.selected_colors.each do |color| %>
            <% next if job_request.quotation_lines.where(color_id: color.id).sum(:quantity) < 1 %>
            <tr>
              <td><%= job_request.product.name %></td>
              <td><%= color.display_name %></td>
              <td>
                <table class="product-breakdown-table">
                  <thead>
                    <tr>
                      <% job_request.quotation_lines.where(color_id: color.id).order(id: :asc).each do |quotation_line| %>
                        <th class="text-center"><%= quotation_line.size.name %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <% job_request.quotation_lines.where(color_id: color.id).order(id: :asc).each do |quotation_line| %>
                        <td class="text-center"><%= quotation_line.quantity %></td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <%= job_request.quotation_lines.where(color_id: color.id).sum(:quantity) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="callout">
    <h5 class="callout-header-title">Add On</h5>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @deal.quotation.add_ons.order(job_request_id: :asc).each do |add_on| %>
          <tr>
            <td><%= add_on.job_request.product.name %></td>
            <td><%= add_on.description %></td>
            <td><%= add_on.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
<% end %>
