<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_deal_path(@deal) %> |
  <%= link_to 'Back', deals_path %>
<% end %>

<%= render "shared/page_header", {title: @deal.display_name} %>

<div class="row medium-unstack">
  <div class="columns">
    <p>
      <strong>No of pcs:</strong>
      <%= @deal.no_of_pcs %>
    </p>
    <p>
      <strong>PIC:</strong>
      <%= @deal.pic.name %>
    </p>
  </div>
  <div class="columns medium-text-right">
    <p>
      <strong>Client Deadline:</strong>
      <%= @deal.client_deadline %>
      <div class="button-group">
        <%= link_to "View deadlines", deal_deadlines_path(@deal), class: "button" %>
        <%= link_to "New Deadline", new_deal_deadline_path(@deal), class: "button alert" if @deal.client_deadline %>
      </div>
    </p>
  </div>

</div>

<% if @deal.job_requests.present? %>
  <div class="callout">
    <div class="button-group">
      <%= link_to "Quotation", edit_deal_quotations_path(@deal), class: "button" %>
      <%= link_to "Get Approval", new_deal_approval_path(@deal), class: "button secondary" %>
      <%= link_to "New Packing List", new_deal_packing_list_path(@deal), class: "button success" %>
    </div>
  </div>
<% end %>

<div class="callout">
  <%= render partial: "job_requests/list", object: @deal.job_requests %>
</div>

<div class="callout">
  <%= render partial: "approvals/list", object: @deal.approvals, locals: { deal: @deal } %>
</div>

<div class="callout">
  <h5 class="callout-header-title">Designs</h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <% @deal.designs_with_version_for_production.each do |design| %>
      <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title"><%= design.name %></a>

        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
          <%= image_tag design.version_for_production_image_url %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
