<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_deal_path(@deal) %> |
  <%= link_to 'Back', deals_path %>
<% end %>

<%= render "shared/page_header", {title: @deal.name} %>

<div class="row columns">
  <p>
    <strong>No of pcs:</strong>
    <%= @deal.no_of_pcs %>
  </p>
</div>
  
<%= render partial: "job_requests/list", object: @deal.job_requests %>

<hr>

<div class="callout">
  <%= render partial: "job_requests/list", object: @deal.job_requests %>
</div>
