<% content_for :header_actions do %>
  <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
    <%= link_to 'Edit', edit_deal_path(@deal) %> |
  <% end %>
  <%= link_to 'Back', deals_path %>
<% end %>

<%= render "shared/page_header", {title: @deal.display_name} %>

<div class="row medium-unstack">
  <div class="columns">
    <p>
      <strong>No of pcs:</strong>
      <%= @deal.no_of_pcs %>
    </p>
    <p>
      <strong>Employee:</strong>
      <%= "#{@deal.employee.name} (#{@deal.employee.email})" %>
    </p>
    <p>
      <strong>Client Deadline:</strong>
      <%= @deal.client_deadline %>
      <div class="button-group">
        <%= link_to "View deadlines", deal_deadlines_path(@deal), class: "button" %>
        <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
          <%= link_to "New Deadline", new_deal_deadline_path(@deal), class: "button alert" if @deal.client_deadline %>
        <% end %>
      </div>
    </p>
    <p>
      <strong>Important Conditions Fulfilled:</strong>
      <% if !@deal.has_pending_shipping? %>
        <i class="fa fa-ship" aria-hidden="true" title="<%= I18n.t "condition.has_pending_shipping.false" %>"></i>
      <% end %>
      <% if !@deal.has_pending_delivery_schedules? %>
        <i class="fa fa-truck" aria-hidden="true" title="<%= I18n.t "condition.has_pending_delivery_schedules.false" %>"></i>
      <% end %>
      <% if !@deal.has_pending_projects_for_designs? %>
        <i class="fa fa-industry" aria-hidden="true" title="<%= I18n.t "condition.has_pending_projects_for_designs.false" %>"></i>
      <% end %>
    </p>
  </div>
  <div class="columns">
    <p>
      <strong>Company:</strong>
      <%= @deal.organization.name %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @deal.pic.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @deal.pic.email %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= @deal.pic.tel %>
    </p>
  </div>

</div>

<% if @deal.job_requests.present? %>
  <div class="callout">
    <div class="button-group">
      <% if @deal.quotation %>
        <%= link_to "Edit Quotation", edit_deal_quotations_path(@deal), class: "button" if current_user.has_any_role? :admin, :apparel_consultant, :director %>
        <%= link_to "View Quotation", deal_quotations_path(@deal), class: "button" %>
      <% else %>
        <%= link_to "New Quotation", new_deal_quotations_path(@deal), class: "button" if current_user.has_any_role? :admin, :apparel_consultant, :director %>
      <% end %>
      <%= link_to "New Packing List", new_deal_packing_list_path(@deal), class: "button success" if current_user.has_any_role? :admin, :apparel_consultant, :director %>
      <%= link_to "View Packing List", deal_packing_lists_path(@deal), class: "button warning" %>
      <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
        <% if @deal.quotation.blank? %>
          <%= link_to "New Collection", new_deal_transaction_path(@deal), class: "button disabled has-tip", data: { tooltip: true, disable_hover: false },
                    aria: { haspopup: true }, tabindex: 1, title: "Quotation is blank" %>
        <% else %>
          <%= link_to "New Collection", new_deal_transaction_path(@deal), class: "button" %>
        <% end %>
      <% end %>
      <% if @deal.quotation.blank? %>
        <%= link_to "Collections", deal_transactions_path(@deal), class: "button secondary disabled has-tip", data: { tooltip: true, disable_hover: false },
                  aria: { haspopup: true }, tabindex: 1, title: "Quotation is blank" %>
      <% else %>
        <%= link_to "Collections", deal_transactions_path(@deal), class: "button secondary" %>
      <% end %>
      <%= link_to "Conditions", deal_conditions_path(@deal), class: "button secondary" %>
    </div>
  </div>
<% end %>

<div class="callout primary">
  <%= render partial: "job_requests/list", object: @deal.job_requests %>
</div>

<div class="callout alert">
  <%= render partial: "approvals/list", object: @deal.approvals, locals: { deal: @deal } %>
</div>

<div class="callout secondary">
  <%= render partial: "designs/list_accordion", object: @deal.designs, locals: { deal: @deal } %>
</div>

<% if @deal.quotation %>
  <div class="callout warning">
    <%= render partial: 'deals/product_breakdown', object: @deal %>
  </div>
<% end %>
