<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @deal.department_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>No of pcs:</strong>
  <%= @deal.no_of_pcs %>
</p>

<p>
  <%= link_to "Submit a Job Request", new_deal_job_request_path(@deal) %>
</p>

<p>
  <%= render partial: "job_requests/list", object: @deal.job_requests %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
