<div class="column medium-8 medium-centered large-4 large-push-4">
  <div class="callout">
    <div class="header small bordered">
      <h1 class="header-title">Log In</h1>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
      <div class="form-row">
        <%= f.input :email, autofocus: true %>
      </div>

      <div class="form-row">
        <%= f.input :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-row">
          <%= f.input :remember_me, as: :boolean %>
        </div>
      <% end -%>

      <div class="form-row">
        <%= f.submit "Log in", class: "button" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
