<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user_id %>
</p>

<p>
  <strong>Att:</strong>
  <%= @address.att %>
</p>

<p>
  <strong>Line1:</strong>
  <%= @address.line1 %>
</p>

<p>
  <strong>:</strong>
  <%= @address. %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @address.post_code %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @address.country_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @address.tel %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
