<% content_for :header_actions do %>
  <%= link_to 'New Gateway', new_gateway_path, class: "button" if current_user.has_any_role? :admin, :apparel_consultant, :director %>
<% end %>

<%= render "shared/page_header", {title: "Gateways"} %>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @gateways.each do |gateway| %>
      <tr>
        <td>
          <span class="subheader">#<%= gateway.id %></span>
          <%= gateway.name %>
          <% if current_user.has_any_role? :admin, :apparel_consultant, :director %>
            <div class="pull-right">
              <%= link_to edit_gateway_path(gateway) do %>
                <span title="Edit" class="fa fa-pencil"></span>
              <% end %>
              &nbsp;
              <%= link_to gateway, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span title="Delete" class="fa fa-trash"></span>
              <% end %>
            </div>
          <% end %>
        </td>
    <% end %>
  </tbody>
</table>
