<% content_for :header_actions do %>
  <%= link_to 'New Gateway', new_gateway_path, class: "button" %>
<% end %>

<%= render "shared/page_header", {title: "Gateways"} %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>
    </tr>
  </thead>

  <tbody>
    <% @gateways.each do |gateway| %>
      <tr>
        <td>
          <span class="subheader">#<%= gateway.id %></span>
          <%= gateway.name %>
          <%= link_to edit_gateway_path(gateway), class: "pull-right" do %>
            <span title="Edit" class="fa fa-pencil"></span>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to gateway, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span title="Delete" class="fa fa-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
