<% content_for :header_actions do %>
  <%= link_to 'New Organization', new_organization_path, class: "button" %>
<% end %>

<%= render "shared/page_header", {title: "Organizations"} %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Industry</th>
      <th class="text-center">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td>
          <span class="subheader">#<%= organization.id %></span>
          <%= link_to organization.name, organization %>

          <%= link_to edit_organization_path(organization), class: "pull-right" do %>
            <span class="fa fa-pencil" title="Edit"></span>
          <% end %>
        </td>
        <td><%= truncate(organization.description, length: 30) %></td>
        <td><%= organization.industry %></td>
        <td class="text-center">
          <%= link_to organization, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="fa fa-trash" title="Delete"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
