<h1>Organizations</h1>
<%= link_to 'New Organization', new_organization_path, class: "button" %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Industry</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.id %></td>
        <td><%= organization.name %></td>
        <td><%= organization.description %></td>
        <td><%= organization.industry %></td>
        <td>
          <div class="button-group">
            <%= link_to 'Show', organization, class: "button" %>
            <%= link_to 'Edit', edit_organization_path(organization), class: "button" %>
            <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
