<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @organization.industry %>
</p>

<h1>Departments</h1><button class="button" data-toggle="add-pic-modal">Add PIC</button>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>
        <div class="row text-center">
          <div class="small-12 column">PIC</div>
          <div class="column">
            Name
          </div>
          <div class="column">
            Tel
          </div>
          <div class="column">
            Title
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @organization.departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.description %></td>
        <td>
          <% department.pics.each do |pic| %>
            <div class="row text-center">
              <div class="column">
                <%= pic.name %>
              </div>
              <div class=" column">
                <%= pic.tel %>
              </div>
              <div class=" column">
                <%= pic.title %>
              </div>
            </div>
          <% end %>
        </td>
        <td><%= link_to "Add PIC", nil %></td>
        <td><%= link_to 'Show', [@organization, department] %></td>
        <td><%= link_to 'Edit', [:edit, @organization, department] %></td>
        <td><%= link_to 'Destroy', [@organization, department], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="reveal" id="add-pic-modal" data-reveal>
  <h4>Add PIC</h4>
  <%= simple_nested_form_for @organization.departments.take do |f| %>
    <%= label_tag "department[pics_attributes][0][name]", "Name" %>
    <%= text_field_tag "department[pics_attributes][0][name]" %>

    <%= label_tag "department[pics_attributes][0][tel]", "Tel" %>
    <%= text_field_tag "department[pics_attributes][0][tel]" %>

    <%= label_tag "department[pics_attributes][0][title]", "Title" %>
    <%= text_field_tag "department[pics_attributes][0][title]" %>
    <%= f.button :submit, "Add" %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= link_to 'New Department', new_organization_department_path(@organization) %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
