<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @organization.industry %>
</p>

<%= link_to 'Add Department', new_organization_department_path(@organization), class: "button" %>

<% @organization.departments.each do |department| %>
  <div class="callout">
    <div class="row column">
      <h2 class="float-left"><%= link_to department.name, organization_department_path(@organization, department) %></h2>
      <%= link_to "Edit", edit_organization_department_path(@organization, department), class: "button float-right warning" %>
    </div>

    <div class="row column">
      <h4 class="float-left">PIC</h4>
      <button class="button add-pic-button float-right" data-open="add-pic-modal" data-dept-url="<%= "/organizations/#{@organization.id}/departments/#{department.id}" %>" data-dept-name="<%= department.name %>">Add PIC</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Tel</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% department.pics.each do |pic| %>
          <tr>
            <td><%= pic.id %></td>
            <td><%= pic.name %></td>
            <td><%= pic.tel %></td>
            <td><%= pic.title %></td>
            <td><%= link_to "Add Deal", new_pic_deal_path(pic) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row column">
      <h4 class="float-left">Deals</h4>
    </div>

    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>No Of Pieces</th>
          <th>Client Deadline</th>
          <th>PIC</th>
        </tr>
      </thead>
      <tbody>
        <% department.deals.each do |deal| %>
          <tr>
            <td><%= deal.id %></td>
            <td><%= deal.name %></td>
            <td><%= deal.no_of_pcs %></td>
            <td><%= deal.client_deadline %></td>
            <td><%= deal.pic.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
<% end %>
<% if @department %>
  <div class="reveal" id="add-pic-modal" data-reveal>
    <h4>Add PIC for <span id="add-pic-modal-dept-name"><%= @department.name %></span></h4>
    <%= simple_nested_form_for [@organization, @department], html: {id: "add-pic-form"} do |f| %>
      <%= label_tag "department[pics_attributes][0][name]" do %>
        <abbr title="required">*</abbr>
        Name
      <% end %>
      <%= text_field_tag "department[pics_attributes][0][name]" %>

      <%= label_tag "department[pics_attributes][0][tel]", "Tel" %>
      <%= text_field_tag "department[pics_attributes][0][tel]" %>

      <%= label_tag "department[pics_attributes][0][title]", "Title" %>
      <%= text_field_tag "department[pics_attributes][0][title]" %>
      <%= f.button :submit, "Add"  %>
    <% end %>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
