<% content_for :header_actions do %>
  <%= link_to 'Edit', edit_organization_path(@organization) %> |
  <%= link_to 'Back', organizations_path %>
<% end %>

<%= render "shared/page_header", {title: @organization.name} %>

<div class="row medium-unstack">
  <div class="columns">
    <%= simple_format(@organization.description) unless @organization.description.blank? %>
    <%= simple_format(@organization.industry) %>
  </div>
  <div class="columns medium-text-right">
    <%= link_to 'Add Department', new_organization_department_path(@organization), class: "button" %>
  </div>
</div>


<% @organization.departments.each do |department| %>
  <div class="callout">
    <div class="callout-header row align-middle">
      <div class="column">
        <h4 class="callout-header-title">
          <%= link_to department.name, organization_department_path(@organization, department) %>
        </h4>
      </div>
      <div class="column medium-text-right">
        <%= link_to "Edit", edit_organization_department_path(@organization, department), class: "button warning" %>
      </div>
    </div>


    <% if department.pics.any? %>
      <h5 class="subheader"><strong>Person(s) in charge</strong></h5>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Tel</th>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% department.pics.each do |pic| %>
            <tr>
              <td>
                <span class="subheader">#<%= pic.id %></span>
                <%= pic.name %>
              </td>
              <td><%= pic.tel %></td>
              <td><%= pic.title %></td>
              <td class="text-right"><%= link_to "Add Deal", new_pic_deal_path(pic), class: "button expanded add-deal-button" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <button class="button add-pic-button" data-open="add-pic-modal" data-dept-url="<%= "/organizations/#{@organization.id}/departments/#{department.id}" %>" data-dept-name="<%= department.name %>">Add PIC</button>
    <% end %>

    <% if department.deals.any? %>
      <hr>
      <div class="row column">
        <h5 class="subheader"><strong>Deals</strong></h5>
      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>No Of Pieces</th>
            <th>Client Deadline</th>
            <th>PIC</th>
          </tr>
        </thead>
        <tbody>
          <% department.deals.each do |deal| %>
            <tr>
              <td>
                <span class="subheader">#<%= deal.id %></span>
                <%= link_to deal.name, deal %>
              </td>
              <td><%= deal.no_of_pcs %></td>
              <td><%= deal.client_deadline %></td>
              <td><%= deal.pic.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
<% end %>
<% if @department %>
  <div class="reveal" id="add-pic-modal" data-reveal>
    <h4>Add PIC for <span id="add-pic-modal-dept-name"><%= @department.name %></span></h4>
    <%= simple_nested_form_for [@organization, @department], html: {id: "add-pic-form"} do |f| %>
      <%= label_tag "department[pics_attributes][0][name]" do %>
        <abbr title="required">*</abbr>
        Name
      <% end %>
      <%= text_field_tag "department[pics_attributes][0][name]" %>

      <%= label_tag "department[pics_attributes][0][tel]", "Tel" %>
      <%= text_field_tag "department[pics_attributes][0][tel]" %>

      <%= label_tag "department[pics_attributes][0][title]", "Title" %>
      <%= text_field_tag "department[pics_attributes][0][title]" %>
      <%= f.button :submit, "Add"  %>
    <% end %>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
