<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @organization.industry %>
</p>

<%= render partial: 'departments/list', object: @organization.departments %>

<%= link_to 'New Department', new_organization_department_path(@organization) %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
