<!DOCTYPE html>
<html>
  <head>
    <title>Odin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "shared/topbar" %>
    <% unless notice.nil? %>
      <div id="notice" class="callout" data-closable>
        <%= notice %>
        <%= button_tag data: { close: ""}, aria: { label: "Dismiss notice"}, class: "close-button" do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="columns medium-3">
        <%= render "shared/menu" if user_signed_in? %>
        <%= yield(:sidebar) %>
      </div>
      <div class="columns medium-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
