<!DOCTYPE html>
<html>
  <head>
    <title>Hades</title>
    <%= csrf_meta_tags %>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCMFWXqwYTatgJw6SGYaz4VmOxLTMi-It8",
        authDomain: "saltycustoms-b6c1a.firebaseapp.com",
        databaseURL: "https://saltycustoms-b6c1a.firebaseio.com",
        projectId: "saltycustoms-b6c1a",
        storageBucket: "saltycustoms-b6c1a.appspot.com",
        messagingSenderId: "346265593860"
      };
      firebase.initializeApp(config);
      <% if current_user.present? %>
        window.sessionStorage.setItem("user_email", "<%= current_user.email %>")
      <% end %>
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
</head>

  <body>
    <div id="offCanvas" class="off-canvas position-left" data-transition="overlap" data-off-canvas>
      <%= button_tag class: "button", data: {toggle: "offCanvas"} do %>
        <%= tag.span class: "fa fa-close" %>
      <% end %>


      <div class="sidebar">
        <%= link_to root_path, class: "logo text-center" do %>
          <%= image_tag "logo.svg" %>
        <% end %>
        <%= render "shared/menu" if user_signed_in? %>
        <%= yield(:sidebar) %>
      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content
    <% if @deal.present? && @deal.rush_order? %>
      style="background-color: pink"
    <% end %>
    >
      <% unless content_for?(:no_topbar) %>
        <%= render "shared/topbar" %>
      <% end %>
      <% unless notice.nil? %>
        <div id="notice" class="callout" data-closable>
          <%= notice %>
          <%= button_tag data: { close: ""}, aria: { label: "Dismiss notice"}, class: "close-button" do %>
            <span aria-hidden="true">&times;</span>
          <% end %>
        </div>
      <% end %>
      <div class="content row column">
        <%= yield %>
      </div>
    </div>

    <footer class="footer text-center">
      <div class="row column">
        <p class="footer-text">&copy; <%= DateTime.now.strftime('%Y') %> Saltycustoms</p>
      </div>
    </footer>
    <script type="text/javascript">
      $(document).ready(function() {
         Feedback({h2cPath:'html2canvas.js',
            url: '<%= "#{Figaro.env.locate_employee_app}/api/v1/bug_reports" %>'});
       });
    </script>
  </body>
</html>
