<!DOCTYPE html>
<html>
  <head>
    <title>Odin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <div id="<%= name %>" class="callout" data-closable>
        <%= msg %>
        <%= button_tag data: { close: ""}, aria: { label: "Dismiss notice"}, class: "close-button" do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
      </div>
    <% end -%>

    <%= yield %>
  </body>
</html>
